<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Custom Login Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">

					<div class="my-card mt-3">

						<form method="post" th:action="@{/dologin}">
							<h1 class="text-center mb-5">Login</h1>
							<div th:if="${param.error}" class="alert alert-danger">Invalid
								username or password</div>
							<div th:if="${param.logout}" class="alert alert-success">You
								have been logged out</div>
							<div class="mb-3">
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp"
									placeholder="Email or phone number" name="username">

							</div>
							<div class="mb-3">
								<input type="password" class="form-control"
									id="exampleInputPassword1" placeholder="Password"
									name="password">
							</div>
							<div class="mb-3 text-end">
								<div id="emailHelp" class="form-text">
									<a th:href="@{/forgot}" href="" style="text-decoration: none">Forgot
										password?</a>
								</div>

							</div>

							<div class="text-center">
								<button type="submit" class="btn bg-primary"
									style="color: white">Login</button>
							</div>
							<div class="text-end">
								New to ContactMate?<a href="" th:href="@{/signup}"
									style="text-decoration: none"> Sign up</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>